.card-title{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px; 
    margin-top: 60px;


}
.card-title h5{
    background-color: rgba(230, 155, 17, 0.938);
    padding-right: 30px;
    padding-top: 16px;
    margin-top: 256px;
    padding-bottom: 16px;
    font-weight:bold;
    text-align: center;
}