.card-contact img{
    margin: 1px auto;
    padding-top: 25px;
    padding-bottom: 50px;
}
.card-contact{
    text-align: center;
    box-shadow:10px 15px 30px rgba(34, 36, 35, 0.13);
}
.card-contact:hover{
    border: 2px solid orange;
}